* {
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Rubik', sans-serif;

}
.app-wrapper{
    margin:auto;
    .headerBox{
        background: #374147;
        position:fixed;
        width:100%;
        top:0;
        left:0; 
        z-index:50;

        &:before{
            content:'';
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .navbar{
            left: 50%;
            transform: translateX(-50%);
            position:relative;
            z-index:2;
            display:block;
            max-width:1200px;
            text-align:center;
            .menu li .navbar-item{ 
                box-sizing: border-box;
                line-height:25px;
                font-size: 18px;
                font-family:'Rubik';
                font-weight:800;
            }
        }
    }

    .homeBox{

        max-width:1200px;
        margin:auto;
        padding-top:120px;
        .name{
            margin-top:40px;
            color: #070707;
            text-align:center;
            padding:20px 0;
            font-size:47px;
        }
        .status{
            color:#828282;
            line-height: 22px;
            font-size: 18px;
            text-align:center;
            font-weight:600;
            padding:20px 0;
            padding-bottom:40px;
        }
        .homeBox-img {
            width:1200px;
            margin-bottom:80px;
            display:grid;
            grid-template-columns:auto;
        }
    }

    .aboutmeBox{
        background: #F6F6F6;
        padding-bottom:120px;
        .label {
            text-align:center;
            padding:80px 0 40px 0;
            font-size:34px;
            line-height:42px;
        }
        .body{
            color:#828282;
            line-height: 22px; 
            font-size:18px;
            margin:auto;
            text-align: center;
        }
        .vivt-link{
            color:#444;
        }
        .vivt-link:hover{
            color:black;
        }
    }
    .skillsBox{
        margin:auto;
        max-width:1200px;
        margin-bottom:120px;
        .label {
            text-align:center;
            padding:80px 0 40px 0;
            font-size:34px;
            line-height:42px;
        }
        .skills-wrapper{
            display:grid;
            grid-template-areas:'a b c d';
            .skill{
                .skill-head{
                    font-size: 24px;
                    line-height: 22px;
                    margin:20px 0;
                }
                .skill-body{
                    color: #828282;
                }
                .skill-body li{
                    padding:5px 0;
                }
            }
        }
    }

    .portfolioBox{
        background-color: #F6F6F6;
        .portfolio{
            padding-bottom:120px;
            margin:auto;
            max-width:1200px;  
            .label {
                text-align:center;
                padding:80px 0 40px 0;
                font-size:34px;
                line-height:42px;
            }  
        }
    }
    
    .contactsBox{
        .contacts{
            max-width:1200px;
            margin:auto;
            padding-bottom:120px;
            text-align: center;
            .label {
                text-align:center;
                padding:80px 0 40px 0;
                font-size:34px;
                line-height:42px;
            }
            .body{
                line-height: 22px; 
                font-size:18px;
                margin:auto;
                text-align: center;
            }
            .message{
                padding-bottom:40px;
            } 
            .sendMsg{
                transition: all .5s ease;
                border:2px solid black;
                width:160px;
                border-radius:20px;
                color:white;
                background: #070707;
                display: inline-block;
                line-height:42px;
                position: relative;
                margin-bottom:80px;
                box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
                &:hover{
                    background-color:#f2b195;
                    a{
                        color:black;
                    }
                }
                a{
                    transition: all .5s ease;
                    text-decoration: none;
                    color:white;
                    padding:6px 20px;
                }
            }
            .iconbar{
                background-color: black;
                margin-bottom:120px;
                ul {
                    position:absolute;
                    left:50%;
                    transform: translateX(-50%);
                    display: flex;
                    li {
                        width:50px;
                        margin: 0 15px;
                        border:2px solid black;
                        border-radius:20px;
                        list-style: none;
                        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
                        transition: all .5s ease;
                        a{
                            transition: all .5s ease;
                        }
                        &:nth-child(1):hover{
                            background-color:#4680C2;
                            .fab{
                                color:white;
                            }
                        }
                        &:nth-child(2){
                            font-family:'Arial', sans-serif !important;
                            font-weight: 1000;
                            font-size:28px;
                            line-height:50px;
                            text-align:center;
                            a{
                                color:black;
                            }
                        }
                        &:nth-child(2):hover{
                            background:#d6001c;
                            a{
                                color:white;
                            }
                        }
                        &:nth-child(3):hover{
                            background-color:#0088cc;
                            .fab{
                                color:white;
                            }
                        }
                        &:nth-child(4):hover{
                            background-color:#24292e;
                            .fab{
                                color:white;
                            }
                        }
                        &:nth-child(5):hover{
                            background-color:#0057ff;
                            .fab{
                                color:white;
                            }
                        }
                        &:nth-child(6):hover{
                            background-color:#E94C88;
                            .fab{
                                color:white;
                            }
                        }
                        .fab {
                            color: black;
                            font-size: 30px;
                            max-width:50px;
                            line-height: 50px;
                            transition: .5s;
                        
                        }
                    }
                }
            }
        }
    }
}


